<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AWS</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="panel-heading">
        <h2 class="panel-title">Get upload url</h2>
    </div>
    <div class="panel-body">
        <form action="/">
            <div class="form-group col-sm-6">
                <label for="contenttype" class="control-label">Content-Type:</label>
                <input id="contenttype" name="contenttype" th:value="${#httpServletRequest.getParameter('contenttype')}"
                       type="text" class="form-control"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="uploadurl" class="control-label">Upload url:</label>
                <input id="uploadurl" th:value="${uploadurl}" type="text" class="form-control" readonly="readonly"/>
            </div>

            <div class="form-group col-sm-12">
                <button id="submit" type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

    <div class="panel-heading">
        <h2 class="panel-title">Upload file</h2>
    </div>
    <div class="panel-body">
        <form method="POST" enctype="multipart/form-data" action="/">
            <div class="form-group col-sm-6">
                <label for="uploadurl" class="control-label">Content-Type:</label>
                <input type="file" name="file"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="uploadresult" class="control-label">Upload result:</label>
                <textarea id="uploadresult" name="uploadresult" rows="3" th:inline="text" readonly="readonly"
                          class="form-control">[[${uploadresult}]]</textarea>
            </div>

            <div class="form-group col-sm-12">
                <button id="submit" type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>